@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

section.hero {
  display: flex;
  .hero-body {
    background-image: url('../assets/film1.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    .start {
      display: flex;
      font-family: 'Quicksand', sans-serif;
      color: white;
      font-size: 100px;
      // background: white;
      border-radius: 12px;
      font-weight: bold;
    }
  }
}


.next {
  margin-left: 45%;
  margin-top: 0;
  margin-bottom: 0;
}

.score {
  margin-left: 46%;
  margin-top: 0;
  font-size: 30px;
  animation: heartBeat 2s infinite;
}

.card {
  margin: 100px 300px 60px ;
}

.result {
  margin-left: 46%;
  margin-top: 0;
  font-size: 40px;
}

.home-footer {
  text-align: center;
  color: white;
  background: midnightblue;
}

html {
  height: 100vh;
  background: pink;
}

.result-title {
  text-align: center;
  font-size: 35px;
}

.show-result {
  text-align: center;
  font-size: 50px;
  padding: 10px;
}

.play-again {
  margin-left: 45%;
}

.easy {
  margin-left: 39%;
  margin-top: 6%;
}
.hard {
  margin-right: 40%;
  margin-top: 6%;
}

.d {
  font-size: 42px;
  text-align: center;
  margin-top: 17%;
  font-weight: bold;
  color: navy;
}
