

section.hero {
  .hero-body {
    background-image: url('../assets/giphy.gif');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    .home-title {
    margin-bottom: 35%;
    color: white;
    }
    .button {
      display: block;
    }
  }
}


.next {
  margin-left: 45%;
  margin-top: 0;
  margin-bottom: 0;
}

.score {
  margin-left: 45%;
  margin-top: 0;
  font-size: 30px;
}

.card {
  margin: 100px 300px 60px ;
}

.result {
  margin-left: 46%;
  margin-top: 0;
  font-size: 40px;
}

.home-footer {
  text-align: center;
  color: white;
  background: midnightblue;
}

html {
  height: 100vh;
  background: cornsilk;
}

.result-title {
  text-align: center;
  font-size: 35px;
}
